@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.42857;
  color: #333333;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Custom
// -------------------------

.art-bg {
  position: absolute;
  width: 100%;
  height: 248px;
  left: 0px;
  top: 0px;
  
  background: linear-gradient(180deg, #8882CC 3.87%, rgba(156, 151, 215, 0) 100%);
}

.counters-wrap {
  position: absolute;
  top: 300px;
}

.counter-wrap {
  width: calc(100vw/3);
  height: 50px;
  display:inline-block;
}

.counter {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.counter-unit {
  font-size: 12px;
  margin-left: 3px;
}

.counter-value {
  font-size: 24px;
  text-align: center;
}

.counter-text {
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

$accent: #606BCF;
$accent-darker: #474f98;

button {
  font-family: inherit;
}

button:focus {
  outline: 0px;
}

.button {
  width: calc(100% - 32px);
  height: 56px;
  margin: 0px 16px 16px 16px;
  border-width: 0px;
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

.button-primary {
  background: $accent;
}

.button-primary:active {
  background: $accent-darker;
}

.button-secondary {
  background: #888888;
}

.button-warning {
  background: #DC552A;
}
 
.buttons-wrap {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  padding-top: 8px;
}

.art {
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.art-charged {
  background-image: url(/images/robo-charged.svg);
  top: 128px;
}

.mode-switch-wrap {
  width: calc(100% - 32px);
  height: 44px;
  margin: 0px 16px 16px 16px;
  border-radius: 3px;
}

.button-switch {
  display: inline-block;
  border: 2px solid #C4C4C4;
  background: white;
  height: 44px;
  padding: 0px;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.button-switch-active {
  background: $accent;
  border-color: $accent;
  color: white;
}

.button-switch-left {
  border-radius: 3px 0px 0px 3px;
  border-right: 0px;
}

.button-switch-right {
  border-radius: 0px 3px 3px 0px;
  border-left: 0px;
}

.mode-switch-label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 16px;
  margin-bottom: 8px;
}